[buildout]
develop = . ../zope.app.form
parts = test python
versions = versions

[versions]
zope.testing = 3.8.4

[test]
recipe = zc.recipe.testrunner
eggs = zope.formlib [test]

[python]
recipe = zc.recipe.egg
eggs = zope.formlib
interpreter = python
